
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Exo:ital,wght@0,100..900;1,100..900&family=Fleur+De+Leah&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,700&display=swap');


:root{
    --orange:#ff7a00;
    --red:#FF3131;
    --violet:#703791;
    --blue:#4D4DFF;
    --green:#93E9BE;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: "Exo", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}


body{
    overflow-x: hidden;
}

.heading{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.7rem;
    color: #444;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--orange);
    text-underline-offset: -1.4rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}

.header nav ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


.header nav ul li{
    margin: 0 1.5rem;
}

.header nav ul li a {
    font-size: 2rem;
    color:#fff;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.8);
    border-radius: .5rem;
    background: black;
    padding: 1rem 1rem;
    font-weight: 500;
}

.header nav ul li a:hover{
    color:var(--green);
    text-decoration: none;
}

.header .fa-bars{
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.home .hero{
    min-height: 250vh;
    background: url(https://i.pinimg.com/originals/23/cb/35/23cb354bd82f9ed4909902ea2717e247.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .hero .text1{
    font-size: 3rem;
    width: 40rem;
    background: var(--red);
    padding: 2rem 4rem;
    text-align: center;
    opacity: .8;
}

.home .hero .text2{
    font-size: 3rem;
    width: 40rem;
    background:var(--violet);
    padding: 2rem 4rem;
    text-align: center;
    opacity: .8;
    margin-top: 1rem;
    color: #fff;
}

.home .hero .text3{
    font-size: 3rem;
    width: 40rem;
    background:var(--blue) ;
    padding: 2rem 4rem;
    text-align: center;
    opacity: .8;
    margin-top: 1rem;
    color: #fff;
}

.home .hero .text4{
    font-size: 3rem;
    width: 90rem;
    background:var(--orange) ;
    padding: 5rem 4rem;
    text-align: center;
    opacity: .8;
    margin-top: 1rem;
    color: #fff;
}

.home .counting{
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box{
    margin: 2rem 4rem;
    text-align: center;
}

.home .counting .box .count{
    font-size: 7rem;
    color:#444;  
}

.home .counting .box h3{
    font-size: 2rem;
    color: var(--orange);
}


.about{
    min-height: 100vh;
    padding-bottom: 2rem;
}

.careers{
    min-height: 100vh;
    padding-bottom: 2rem;
}


.about .image{
    padding: 2rem;
}

.careers .image{
    padding: 2rem;
}

.about .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem var(--orange);
}

.careers .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem #565819;
}

.about .info{
    padding: 2rem;
    margin-top: 3rem;
}

.careers .info{
    padding: 2rem;
    margin-top: 3rem;
}

.about .info h2{
    color: var(--orange);
    font-size: 2.5rem;
}

.careers .info h2{
    color: var(--orange);
    font-size: 2.5rem;
}

.about .info p{
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}

.careers .info p{
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}

.about .info .icons a{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.careers .info .icons a{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #333;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.about .info .icons a:hover{
    background: var(--orange);
}

.careers .info .icons a:hover{
    background: var(--orange);
}

.services{
    min-height: 100vh;
}

.value{
    min-height: 100vh;
}

.services .box-container{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.value .box-container{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .box-container .box{
    height: 28rem;
    width: 30rem;
    box-shadow: 0 2rem .5rem rgba(0,0,0,.3);
    border-left: .5rem solid var(--orange);
    border-right: .5rem solid var(--orange);
    border-radius: .5rem;
    text-align: center;
    padding-top:3rem ;
    margin: 2rem 3rem;
}

.value .box-container .box{
    height: 28rem;
    width: 30rem;
    box-shadow: 0 .5rem .4rem rgba(0,0,0,.3);
    border-left: .5rem solid var(--blue);
    border-right: .5rem solid var(--blue);
    border-radius: .5rem;
    text-align: center;
    padding-top:3rem ;
    margin: 2rem 3rem;
}

.services .box-container .box .fas{
    color: var(--orange);
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.value .box-container .box .fas{
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .2rem;
}

.services .box-container .box p{
    color:#000000;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0;
}

.value .box-container .box p{
    color:#000000;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0;
}

.projects{
    min-height: 100vh;
    margin-top: 12rem;
    background: #333;
}

.clients{
    min-height: 100vh;
    margin-top: 12rem;
    background:#D2E5D0;
}

.projects .heading{
    color: #fff;
}

.clients .heading{
    color: #000;
}

.projects .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000;
    overflow: hidden;
}

.clients .box-container .box{
    height: 15rem;
    width: 20rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000;
    overflow: hidden;
}

.projects .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.clients .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.projects .box-container .box img:hover{
    transform: scale(1.4);
}

.clients .box-container .box img:hover{
    transform: scale(1.4);
}

.contact{
    min-height: 100vh;
}

.contact-box-container{
    width: 93%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.contact-box-container .contact-box{
    height: 20rem;
    flex: 1 0 30rem;
    margin: 4rem;
    box-shadow: 0 .4rem .7rem rgba(0,0,0,.3);
    border-radius: .5rem;
    text-align: center;
    padding-top: 4rem;
}


.contact-box-container .contact-box i{
    color: #ff7a00;
    font-size: 4rem;
}

.contact-box-container .contact-box h3{
    font-size: 1.8rem;
    color: #444;
    margin: 2rem 0;
}

.contact .form-container{
    width: 90%;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: .5rem;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
}

.contact .form-container form input, textarea{
    height: 4.5rem;
    padding: 0 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border: none;
    outline: none;
    color: #333;
}

.contact .form-container form .inputBox{
    display: flex;
    justify-content: space-between; 
}

.contact .form-container form input[type="text"]{
    width: 49%;
}

.contact .form-container form input[type="email"]{
    width: 100%;
}

.contact .form-container form textarea{
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;
    overflow-y: auto;
}

.contact .form-container form input[type="submit"]{
    background: var(--orange);
    width: 15rem;
    color: #fff;
    font-size: 2rem;
}

.contact .form-container form input[type="submit"]:hover{
    opacity: .8;
}

.footer{
    height: 100vh;
    width: 100%;
    padding: 10rem 10rem;
    margin-top: 1rem;
    background:var(--orange);
    text-align: center;
}

.footer.row{
    width: 100%;
    height: 200vh;
    margin: 5rem 3rem;
    padding: 10rem 10rem;
}

.footer.row .col-md-3{
    padding: 10rem 10rem 10rem;
    margin: 12rem 12rem 12rem;
}

.footer h2{
    font-size: 3.5rem;
    color:var(--red);
}

.footer h3{
    padding-top: 3rem;
    font-size: 3.5rem;
    color:var(--violet);
}

.footer p{
    padding-top: 8rem;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color:#BCBEC0;
    font-weight: 600;
}

.footer .list{
    display: flex;
    flex-flow: column;
}

.footer .list a{
    padding-top: 2rem;
    color:#000000;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .letter input[type="email"]{
    outline: none;
    border: none;
    background: none;
    padding-top: 5rem;
    padding: 1rem 0;
    color: #000000;
    height:3rem;
    width: 100%;
    border: .1rem solid #000000;
    font-size: 1.5rem;
}

.footer .letter input[type="submit"]{
    outline: none;
    border: none;
    background:var(--green);
    color: #000000;
    margin: 1rem 0;
    width: 10rem;
    font-size: 1.6rem;
}

.footer .letter input[type="submit"]:hover{
    background: var(--violet);
    color: #000000;
}

.footer .credit{
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 4rem;
    padding: 7rem 2rem;
    margin: 2rem 0;
    margin-bottom: 0;
    letter-spacing: .2rem;
}

.footer .credit span{
    color:#C6274D;
}





#preloader{
    background: #fff url(Rotating\ Logo1\ gif.gif) no-repeat center center ;
    background-size:50%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    animation: draw 8s ease;
}


























.fa-times{
    transform: rotate(180deg);
}























@media (max-width:768px) {
    html{
        font-size: 50%;
    }

    .header .fa-bars{
        display: block;
    }

    .header nav{
        position: fixed;
        top: 6rem; 
        right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0,0,0,.5);
        z-index: 1000;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .header nav ul{
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li{
        margin: 1rem 0;  
    }

    .header nav ul li a{
        display: block;
        padding:1.5rem 0;
        border: .1rem solid rgba(0,0,0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover{
        background: #333;
        color: #fff;
    }

    .header .nav-toggle{
        right: 0%;
    }
}

@media (max-width:400px){
    .home .hero .text1{
        font-size:3.5rem;
        width: 35rem;
    }

    .home .hero .text2{
        font-size:2.5rem;
        width: 33rem;
    }
}

